p{
    color:blue;
    background-color:pink;
    text-align:center;
}
.p{
    background-color:aqua;
    color:black
}
#jk{
    font-size :25px;
}
div{
    height:200px;
    width:200px;
    background-color:blueviolet;
    padding :10px;
}