/* div{
    height:100px;
    width:300px
    margin: 20px;
    border:solid black;

}
.box{
    height:100px;
    width:150px;
}
.box1{
    background-color:yellowgreen;

}
.box2{
    background-color:deeppink;
}
.box3{
    background-color:rgb(139, 179, 166);
} */
 .container{
    display:flex;
    height:200px;
    background-color:aqua;
    border:solid black;
    width:800px;
    flex-wrap:nowrap|wrap
 }
 .item{
    height:100px;
    width:100px;
    background-color:pink;
    border:1px solid black;

 }