 /* p{
    color:black;
    background-color:pink;
    text-align:center;
}
.p{
    background-color:aqua;
    color:black
}
#jk{
    font-size :25px;
}
 div{
    height:200px;
    width:200px;
    background-color:blueviolet;
    padding :10px;
    border:1px solid black;
    margin:100px;
    
} */
/* div{
    height:100px;
    width:300px
    margin: 20px;
    border:solid black;

}
.box{
    height:100px;
    width:150px;
}
.box1{
    background-color:yellowgreen;

}
.box2{
    background-color:deeppink;
}
.box3{
    background-color:rgb(139, 179, 166);
} */
 .container{
    height:500px;
    width:1000px;
background-color: rgb(15, 71, 90);
border: 1px solid black;
display:grid;
grid-template-columns:repeat(4,100px);
grid-template-rows:(3,100px);
  gap: 10px;
  align-items: start;
  justify-content:space-evenly;
align-content: center;

/* grid-template-areas:"header header header header" "main main .sidebar" "footer footer footer footer" */

 }
 .item{
     height:100px;
    width:100px;  
    background-color:rgb(232, 124, 142);
    color:white;
    border:1px black;
    text-align: center;
    align-content:center ;
  

 }
/* .item1{
    grid-area:header;
}
.item2{
    grid-area: main;
}
 .item3{
    grid-area: sidebar;
 }
 .item4{
    grid-area:footer;
 } */

